 <div class="row">
        <div id="register-widget" class="col-md-6">
    		<div class="panel sign-left pull-right">
    		    <form role="form">
                    <div class="form-group">
                        <label for="regCuit">CUIT (sin guiones)</label>
                        <input type="text" class="form-control" id="regCuit" placeholder="cuit">
                    </div>
                    <div class="form-group">
                        <label for="regPassword">Contraseña</label>
                        <input type="password" class="form-control" id="regPassword" placeholder="Contraseña">
                    </div>
                    <div class="form-group">
                        <label for="regPassword2">Contraseña</label>
                        <input type="password" class="form-control" id="regPassword2" placeholder="Repetir contraseña">
                    </div>
                    <div class="form-group">
                        <label for="regEmail">Contraseña</label>
                        <input type="email" class="form-control" id="regEmail" placeholder="email">
                    </div>
                    <div class="form-group">
                        <label for="regEmail">Contraseña</label>
                        <input type="email" class="form-control" id="regEmail2" placeholder="Repetir email">
                    </div>
                    <button type="submit" class="btn btn-default">Registrarse</button>
                    <a href="#" class="">Cancelar</a>
    			</form>
    		</div>
    	</div>
    	<div class="logo col-md-6 sign-left">
    		<span class="back-background">SGS</span>
    		<span class="front-background">Sindicato Grafico Sure&ntilde;o</span>
    	</div>
    	<div id="login-widget" class="col-md-6">
    		<div class="panel sign-right">
    		    <form role="form">
                    <div class="form-group">
                        <label for="loginCuit">CUIT (sin guiones)</label>
                        <input type="text" class="form-control" id="loginCuit" placeholder="cuit">
                    </div>
                    <div class="form-group">
                        <label for="loginPassword">Contraseña</label>
                        <input type="password" class="form-control" id="loginPassword" placeholder="Contraseña">
                    </div>
                    <button type="submit" class="btn btn-default">Ingresar</button>
                    <a href="#" class="">Registrarse</a>
    			</form>
    		</div>
    	</div>
    </div>