<div class="row">
    <div class="col-md-6">
        <form role="form">
            <div class="form-group">
                <label for="regCuit">CUIT (sin guiones)</label>
                <input type="text" class="form-control" id="regCuit" placeholder="cuit">
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <form role="form">
        </form>
    </div>
    <div class="col-md-12">
        <button type="submit" class="btn btn-default">Terminar registro</button>
    </div>
</div>